
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BK Manager | Projet</title>
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="../assets/images/favicon.ico" />
      <link rel="stylesheet" href="../assets/css/backend-plugin.min.css">
      <link rel="stylesheet" href="../assets/css/backend.css?v=1.0.0">
      <link rel="stylesheet" href="../assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
      <link rel="stylesheet" href="../assets/vendor/remixicon/fonts/remixicon.css">
      
      <link rel="stylesheet" href="../assets/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css">
      <link rel="stylesheet" href="../assets/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css">
      <link rel="stylesheet" href="../assets/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css">  </head>
  <body class="  ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        {% include "includes/nav-col.html" %}
        {% include "includes/nav-top.html" %}
    <div class="content-page">
     <div class="container-fluid">
        <div class="item-content animate__animated animate__fadeIn active">
            {% include "includes/alert.html" %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="d-flex align-items-center">
                                        <div class="ml-3">
                                            <h5 class="mb-3"><font size="5pt">ID : {{ projet_info['id'] }} </font>| {{ projet_info['nom'] }}</h5>
                                            <p class="mb-2">Budget restant : <b>{{ projet_info['budget'] }} €</b></p>
                                            <p class="mb-2">Catégorie : <b>{{ projet_info['categorie'] }}</b></p>
                                            <p class="mb-2">Temps moyen de réalisation : <b>{{ date_th_g }}</b></p>
                                            <p class="mb-2">Fin du projet : <b>{{ date_fin }}</b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-sm-right mt-3 mt-sm-0">
                                    <div id="circle-progress-24" class="circle-progress-01 circle-progress circle-progress-primary" data-min-value="0" data-max-value="100" data-value="{{ tache_pourcent }}" data-type="percent"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="d-flex align-items-center">
                                        <div class="ml-3">
                                            <p class="mb-2">Lien NFC : <br><b>http://{{ host }}/nfc?projet_id={{ projet_info['id'] }}</b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-sm-right mt-3 mt-sm-0">
                                    <div id="circle-progress-24" class="circle-progress-01 circle-progress circle-progress-primary" data-min-value="0" data-max-value="100" data-value="{{ tache_pourcent }}" data-type="percent"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="d-flex align-items-center">
                                        <div class="ml-3">
                                            <p class="mb-2">Supprimer le projet<br><b>Attention ceci est une action irréversible.</b></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-sm-right mt-3 mt-sm-0">
                                    <form action="{{ url_for('suppresion', objet_type='Projet', objet_id=projet_info['id']) }}" method="post" enctype="multipart/form-data">
                                        <div class="modal fade" role="dialog" aria-modal="true" id="supp-modal">
                                            <div class="modal-dialog  modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header d-block text-center pb-3 border-bttom">
                                                        <h3 class="modal-title" id="exampleModalCenterTitle01">Êtes-vous sur de vouloir supprimer le projet ?</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                                                    <button class="btn btn-primary mr-3" type="submit">Supprimer</button>
                                                                    <div class="btn btn-primary" data-dismiss="modal">Annuler</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a href="#" class="btn btn-primary" data-target="#supp-modal" data-toggle="modal">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <label class="h5">Description du projet</label>
                                        <textarea disabled type="text" class="form-control" id="description" name="description" rows="10" placeholder="{{ projet_info['description'] }}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                            <h5>Informations sur les achats</h5>
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <div class="pl-3 border-left btn-new">
                                    <a href="#" class="btn btn-primary" data-target="#new-task-modal" data-toggle="modal">Nouvelle achat</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content"></div>
                   <div class="table-responsive">
                      <table id="datatable" class="table data-table table-striped">
                         <thead>
                            <tr class="ligth">
                             <th>ID</th>
                             <th>Objet</th>
                             <th>Prix</th>
                            </tr>
                         </thead>
                         <tbody>
                             {%for x in projet_achat%}
                             <tr>
                                <td>{{ x.id }}</td>
                                <td>{{ x.objet }}</td>
                                <td>{{ x.prix }} €</td>
                             </tr>
                             {%endfor%}
                         </tbody>
                         <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Objet</th>
                                <th>Prix</th>
                            </tr>
                         </tfoot>
                      </table>
                   </div>
                </div>
             </div>
          </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                        <h5>Informations sur les taches</h5>
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <div class="col-lg-12">
         <div class="card">
            <div class="card-body">
               <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content"></div>
               <div class="table-responsive">
                  <table id="datatable" class="table data-table table-striped">
                     <thead>
                        <tr class="ligth">
                         <th>ID</th>
                         <th>Description</th>
                         <th>Groupe</th>
                         <th>Temps requis ( Jour )</th>
                         <th>Status</th>
                         <th></th>
                         <th></th>
                        </tr>
                     </thead>
                     <tbody>
                         {%for y in projet_tache%}
                         <tr>
                            <td>{{ y.id }}</td>
                            <td>{{ y.description }}</td>
                            <td>{{ y.groupe }}</td>
                            {%if y.temps > 1%}
                            <td>{{ y.temps }} Jours</td>
                            {%else%}
                            <td>{{ y.temps }} Jour</td>
                            {%endif%}
                            <form action="{{ url_for('change_status', tache_id=y.id) }}" method="post" enctype="multipart/form-data">
                            <td><select class="selectpicker form-control" id="status" name="status" data-style="py-0">
                                {%if y.status == "En attente"%}
                                <option value="{{y.status}}">{{y.status}}</option>
                                <option value="En cours">En cours</option>
                                <option value="Fini">Fini</option>
                                {%elif y.status == "En cours"%}
                                <option value="En cours">En cours</option>
                                <option value="Fini">Fini</option>
                                {%elif y.status == "Fini"%}
                                <option disabled value="Fini">Fini</option>
                                {%endif%}
                            </select></td>
                            <td><button class="btn btn-primary mr-3" type="submit">Enregistrer</button></td></form>
                            <td>
                                <div class="modal fade" role="dialog" aria-modal="true" id="supp-tache-modal-{{ y.id }}">
                                    <div class="modal-dialog  modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header d-block text-center pb-3 border-bttom">
                                                <h3 class="modal-title" id="exampleModalCenterTitle01">Êtes-vous sur de vouloir supprimer la tâche ?{{ y.id }}</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                                            <a class="btn btn-primary mr-3" href="{{ url_for('suppresion', objet_type='Tâche', objet_id=y.id, projet_id=projet_info['id']) }}">Supprimer</a>
                                                            <div class="btn btn-primary" data-dismiss="modal">Annuler</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a href="#" class="btn btn-primary" data-target="#supp-tache-modal-{{ y.id }}" data-toggle="modal">Supprimer</a></td>
                         </tr>
                         {%endfor%}
                     </tbody>
                     <tfoot>
                        <tr>
                            <th>ID</th>
                         <th>Description</th>
                         <th>Groupe</th>
                         <th>Temps requis ( Jour )</th>
                         <th>Status</th>
                         <th></th>
                         <th></th>
                        </tr>
                     </tfoot>
                  </table>
               </div>
            </div>
         </div>
      </div>
  </div>
      <form action="{{ url_for('ajout_achat', projet_id=projet_info['id']) }}" method="post" enctype="multipart/form-data">
      <div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="new-task-modal">
         <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
             <div class="modal-content">
                 <div class="modal-header d-block text-center pb-3 border-bttom">
                     <h3 class="modal-title" id="exampleModalCenterTitle02">Nouvelle achat</h3>
                 </div>
                 <div class="modal-body">
                     <div class="row">
                         <div class="col-lg-12">
                             <div class="form-group mb-3">
                                 <label for="exampleInputText40" class="h5">Objet *</label>
                                 <textarea class="form-control" id="objet" name="objet" rows="2" placeholder="Objet"></textarea>
                             </div>
                         </div>
                         <div class="col-lg-12">
                             <div class="form-group mb-3">
                                 <label for="exampleInputText40" class="h5">Prix *</label>
                                 <input type="number" class="form-control" id="prix" name="prix" rows="1" placeholder="Prix en €"></input>
                             </div>
                         </div>
                       </div>
                         <div class="col-lg-12">
                             <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                 <button type="submit" class="btn btn-primary mr-3">Sauvegarder</button>
                                 <div class="btn btn-primary" data-dismiss="modal">Annuler</div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
   </form>
        <!-- Page end  -->
    </div>
      </div>
    </div>
    <!-- Wrapper End--> 
<footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 text-right">
                    <span class="mr-1"><script>document.write(new Date().getFullYear())</script>© BK Manager</span> | Template par Webkit.
                </div>
            </div>
        </div>
    </footer>
    <!-- Backend Bundle JavaScript -->
    <script src="../assets/js/backend-bundle.min.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="../assets/js/table-treeview.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="../assets/js/customizer.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script async src="../assets/js/chart-custom.js"></script>
    <!-- Chart Custom JavaScript -->
    <script async src="../assets/js/slider.js"></script>
    
    <!-- app JavaScript -->
    <script src="../assets/js/app.js"></script>
    
    <script src="../assets/vendor/moment.min.js"></script>
  </body>
</html>