

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BK Manager | Profiles</title>
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="../assets/images/favicon.ico" />
      <link rel="stylesheet" href="../assets/css/backend-plugin.min.css">
      <link rel="stylesheet" href="../assets/css/backend.css?v=1.0.0">
      <link rel="stylesheet" href="../assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
      <link rel="stylesheet" href="../assets/vendor/remixicon/fonts/remixicon.css">
      
      <link rel="stylesheet" href="../assets/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css">
      <link rel="stylesheet" href="../assets/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css">
      <link rel="stylesheet" href="../assets/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css">  </head>
  <body class=" color-light ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        {% include "includes/nav-col.html" %}
        {% include "includes/nav-top.html" %}
             <div class="content-page">
      <div class="container-fluid">
         <div class="row">
               <div class="col-lg-12">
                   <div class="card">
                       <div class="card-body">
                           {% include "includes/alert.html" %}
                           <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                               <h5>Informations sur les utilisateurs</h5>
                               <div class="d-flex flex-wrap align-items-center justify-content-between">
                                {%if session['groupe'] == 'Directeur'%}
                                   <div class="pl-3 border-left btn-new">
                                       <a href="#" class="btn btn-primary" data-target="#new-user-modal" data-toggle="modal">Nouveau utilisateur</a>
                                   </div>
                                
                                {%endif%}
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            <div class="col-lg-12">
               <div class="card">
                  <div class="card-body">
                     <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content"></div>
                     <div class="table-responsive">
                        <table id="datatable" class="table data-table table-striped">
                           <thead>
                              <tr class="ligth">
                                 <th>ID</th>
                                 <th>Nom d'utilisateur</th>
                                 <th>Nom complet</th>
                                 <th>Groupe</th>
                                 <th>Email</th>
                                 <th>Téléphone</th>
                                 {%if session['groupe'] == 'Directeur'%}
                                 <th>Profile</th>
                                 {%endif%}
                              </tr>
                           </thead>
                           <tbody>
                            {%for x in clients%}
                              <tr>
                                 <td>{{ x.id }}</td>
                                 <td>{{ x.username }}</td>
                                 <td>{{ x.nom }} {{ x.prenom }}</td>
                                 <td>{{ x.groupe }}</td>
                                 <td>{{ x.email }}</td>
                                 <td>{{ x.telephone }}</td>
                                 {%if session['groupe'] == 'Directeur'%}
                                 <td><form action="{{ url_for('profile') }}" method="get" enctype="multipart/form-data"><button class="btn btn-primary mr-3" type="submit" name="profile_id" value="{{x.id}}">Voir</button></form></td>
                                 {%endif%}
                              </tr>
                              {%endfor%}
                           </tbody>
                           <tfoot>
                              <tr>
                                <th>ID</th>
                                <th>Nom d'utilisateur</th>
                                <th>Nom complet</th>
                                <th>Groupe</th>
                                <th>Email</th>
                                <th>Téléphone</th>
                                {%if session['groupe'] == 'Directeur'%}
                                <th>Profile</th>
                                {%endif%}
                              </tr>
                           </tfoot>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <form action="{{ url_for('ajout_utilisateur') }}" method="post" enctype="multipart/form-data">
         <div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="new-user-modal">
            <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header d-block text-center pb-3 border-bttom">
                        <h3 class="modal-title" id="exampleModalCenterTitle02">Nouveau utilisateur</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group mb-3">
                                 <label for="exampleInputText2" class="h5">Nom d'utilisateur *</label>
                                 <input type="text" class="form-control" id="username" name="username" placeholder="Entrer le nom d'utilisateur">
                             </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText2" class="h5">Mot de passe *</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Entrer le mot de passe">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText04" class="h5">Nom *</label>
                                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrer votre nom">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="exampleInputText006" class="h5">Prénom *</label>
                                    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Entrer votre prénom">
                                </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group mb-3">
                                  <label for="exampleInputText006" class="h5">Téléphone *</label>
                                  <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Entrer votre téléphone">
                              </div>
                          </div>
                          <div class="col-lg-6">
                           <div class="form-group mb-3">
                               <label class="h5">Groupe *</label>
                               <select class="selectpicker form-control" name="groupe_pick" id="groupe_pick" data-style="py-0">
                                <option value="choix">Choix</option>
                                {%for y in groupes%}
                                   <option value="{{ y.nom }}">{{ y.nom }}</option>
                                   {%endfor%}
                               </select>
                             </div>
                           </div>
                            <div class="col-lg-12">
                              <div class="form-group mb-3">
                                  <label for="exampleInputText006" class="h5">Email *</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Entrer votre email">
                              </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                    <button type="submit" class="btn btn-primary mr-3">Sauvegarder</button>
                                    <div class="btn btn-primary" data-dismiss="modal">Annuler</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </form>
      </div>
      </div>
    </div>
    <!-- Wrapper End-->
<footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 text-right">
                    <span class="mr-1"><script>document.write(new Date().getFullYear())</script>© BK Manager</span> | Template par Webkit.
                </div>
            </div>
        </div>
    </footer>
    <!-- Backend Bundle JavaScript -->
    <script src="../assets/js/backend-bundle.min.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="../assets/js/table-treeview.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="../assets/js/customizer.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script async src="../assets/js/chart-custom.js"></script>
    <!-- Chart Custom JavaScript -->
    <script async src="../assets/js/slider.js"></script>
    
    <!-- app JavaScript -->
    <script src="../assets/js/app.js"></script>
    
    <script src="../assets/vendor/moment.min.js"></script>
  </body>
</html>